

<%= form_for @portfolio do |f| %>
  <p>
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </p>
  <p>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </p>
  <p>
    <%= f.label :founded %>
    <%= f.datetime_select :founded_date %>
  </p>
    <p>
    <%= f.label :link %>
    <%= f.text_field :link %>
    note: http:// required
  </p>
  <p>
    <%= f.label :amount_raised %>
    <%= f.text_field :amount_raised %>
  </p>
  <p>
    <%= f.label :logo %>
    <%= f.file_field :logo %>
  </p>

  <p><%= f.button :submit, :class => 'btn btn-success' %></p>
<% end %>
