<%= simple_form_for(@portfolio) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :company_name %>
    <%= f.input :bio %>
    <%= f.input :founded_date %>
    <%= f.input :amount_raised %>
    <%= f.input :valuation %>
    <%= f.input :status %>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
    <%= f.input :contact_number %>
    <%= f.input :industry_sector %>
    <%= f.input :logo %>
    <%= f.input :promoted %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
