<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :starts_at %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :partner %>
    <%= f.input :external_url %>
    <%= f.input :ticket_url %>
    <%= f.input :event_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-success' %>
  </div>
<% end %>
