<h1>Editing event</h1>

<%= render 'form' %>

<!--
<%= form_for @event, :url => events_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :event_image %>
<% end %>
-->

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
