<div class="container">
  <h1>Events</h1>
    <%= link_to 'New Event', new_event_path, :class =>'btn btn-success' %>
    <div class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 10, "gutter": 10 }'>
        <% @events.each do |event| %>
          <div class="item eventBox thumbnail">
              <div class="row">
                <div class="col-lg-12">
                  <%= image_tag event.event_image.url(:medium), :id => "eventImage" %>
                </div>
              </div>
              <div id="eventContent">
              <div class="row">
                <div class="col-lg-12">
                  <h4 class="text-center"><%= link_to "#{event.title}", event %></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <%= event.starts_at %>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <%= event.location %>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">    
                  <%= event.description %>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <%= event.partner %>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  Website URL <%= link_to event.external_url %>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  Ticket URL <%= link_to event.ticket_url %>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <%= event.event_type %>
                </div>
              </div>               
              <div class="row">
                <div class="col-lg-12">
                  <%= link_to 'Edit', edit_event_path(event) %>
                  <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
              </div>
          </div> <!-- /masonryitem -->
        <% end %>
    </div> <!-- /masonrycontainer -->
</div>

