<div class="container">
  <h1>Events</h1>
  <%= link_to 'New Event', new_event_path, :class =>'btn btn-success' %>
  <% @events.in_groups_of(4).each do |event_array| %>
    <div class="row show-grid">
      <% event_array.each do |event| %>
        <% if event %>
          <div class="col-md-3">
            <div>
              <%= image_tag event.event_image.url(:medium), :class => "eventImage" %>
            </div>
            <div>
              <%= link_to "#{event.title}", event %>
            </div>
            <div>
              <%= event.starts_at %>
            </div>
            <div>
              <%= event.location %>
            </div>
            <div>
              <%= event.description %>
            </div>
            <div>
              <%= event.partner %>
            </div>
            <div>
              Website URL <%= link_to event.external_url %>
            </div>
            <div>
              Ticket URL <%= link_to event.ticket_url %>
            </div>
            <div>
              <%= event.event_type %>
            </div>
            <div>
              <%= link_to 'Edit', edit_event_path(event) %>
            </div>
            <div>
              <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
