
<p id="notice"><%= notice %></p>
<div class="showEventPage container">
<br>
<br>
<%= link_to("Back to all events",events_path)%>

  <div class="row">
    
    <div class="col-lg-6 eventHeadBox">
      
      <div class="row"> 
        <%= image_tag @event.image.url(:crop => "fill", :effect => "blur:1000"), :class => "", :width => "100%"%>
      </div> 
      <div class="row">
        <div class="col-lg-6">
          <div class="eventHeadText">
            <h3><%= @event.title %><br>
            <small> <%= @event.partner %></small></h3>
          </div>   
        </div>
      </div>       
    </div> 
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 eventHeadTextBox">
      <div class="row">
        <div class="col-lg-6 eventHeadText">
                      <h3><%= @event.title %><br>
            <small> <%= @event.partner %></small></h3>
          <h3>Starts at:</h3>
          <p><%= @event.starts_at.to_s(:pretty) %></p>
        </div>
        <div class="col-lg-6">
          <h3>Location:</h3>
          <p><%= @event.location %></p>
        </div>
      </div>
      
      <div class="row"> <!-- links -->
        <div class="col-lg-6 eventHeadText">
          <span class="glyphicon glyphicon-link"></span> <%=link_to(@event.external_url) %>
          <br>
          <span class="glyphicon glyphicon-qrcode"></span> <%= link_to('Tickets',@event.ticket_url) %>
        </div>
        <div class="col-lg-4">
        </div>
      </div>
    </div> <!-- /box for links and date -->
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 eventHeadTextBox">
      <div class="col-lg-6">
        <h3>Description:</h3>
        <p><%= @event.description %></p>
      </div>
    </div>
  </div>
  <br>
  <%= link_to("Back to all events",events_path)%>      
</div>
<br>  

  <% if signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_event_path(@event) %>
      <%= image_tag @event.image.url %>
      <%= image_tag @event.image.url(:medium) %>
      <%= image_tag @event.image.url(:thumb) %>
    <% end %>
  <% end %>
</div> <!-- container -->
