<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @event.partner %>
</p>

<p>
  <strong>External url:</strong>
  <%= @event.external_url %>
</p>

<p>
  <strong>Ticket url:</strong>
  <%= @event.ticket_url %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
