<div class="container">
  <div class="row">

    <div class="col-lg-6 col-md-8 col-sm-8">


      <h1>Mentors</h1>
      <p>Just a few of the amazing people that want to help you to create incredible products and services. If you a founder, investor, designer or have sector expertise and want to work with Imperial students get in contact <a href="mailto:mark.hammond@imperialinnovations.co.uk">here</a>. 
        <br>
        <br>
        <% if signed_in? %>
        <% if current_user.admin %>
        <%= link_to("New Mentor",new_mentor_path, :class => "btn btn-warning")%>

        <% end %>
        <% else %>
        <% end %>
      </p>


    </div>



  </div>




  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">



<!--
  <div class="row">

ENABLE THIS LATER ONCE HAVE A BETTER IDEA OF THE SECTOR TYPES



    <div class="col-lg-12">
      <div class="btn-group" data-toggle="buttons" id="filters">
        <label class="btn btn-primary">
          <input type="radio" name="options" class="filterBtn"  id="all" data-filter="*"> Show all
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" class="filterBtn" id="meet" data-filter=".meetup"> Meetup
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" class="filterBtn" id="skill" data-filter=".skills"> Skill-up
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" class="filterBtn" id="start" data-filter=".startup"> Start-up
        </label>
      </div>  
    </div>

 

    </div>

  -->

</div>
</div>
<br>
<div id="container">
  <% @mentors.each do |mentor| %>
  <div class="isotopeItem startup" >

    <div class="mentorTitle titlebackground">
      <div>
        <p><%= link_to "#{mentor.name}", "#{mentor.link}" %></p>
        <p><%= mentor.desc %></p>
        <% if signed_in? %>
        <% if current_user.admin %>
        <%= link_to 'Edit', edit_mentor_path(mentor) %>
        <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <%= image_tag mentor.image.url(:medium), height: '150', :class => "mentorImage" %>
    </div>

  </div>
  <% end %>
</div>
<br>


</div>

<script>
$(window).load(function(){     
  var $container = $('#container');
  // initialize isotope
  $container.isotope({
    // options...
    itemSelector : '.isotopeItem',
    masonry: {
      layoutMode : 'fitRows', 
      columnWidth: 10
    }    
  });
  
  
  // filter items when filter link is clicked
  $('#filters > label').click(function(){
    var selector = $(this).children().attr('data-filter');
    $container.isotope({ filter: selector });
    console.log(selector);
    return false;
  });
});



</script>