<section id="howitworks" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h1>Imperial Create Lab brings together the innovators, makers and game-changers to hack, learn and build things that matter.<h1>

        	<h2>Here's how it works</h2>
        	<br>
        	<p>We run 5 regular events, host the biggest University Innovation contest in the UK '<%= link_to('The Venture Catalyst Challenge', venturechallenge_path) %>' and aggregate hundreds of <%= link_to('events', events_path) %> from related partners across Imperial.</p>

        	<br>
        	<h2>Create Lab events</h2>
        	<br>
        	<p>These run year round, sign-up details are released on the mailing list and facebook.</p>
        	<ul> 
            <li><b>Invent the Future</b> - 3x sessions early in the year to help you come up with world changing ideas</li>
            <li><b>ICSaaS</b> - Monthly web developer meetup and workshops</li>
            <li><b>Makers Meetup</b> - Monthly chance to show off your projects from robots to UAVs and learn 3D printing etc.</li>
            <li><b>Business Lab</b> - 1:1 help from experienced MBAs on everything from marketing to legal for free!</li>
            <li><b>Drop in</b> - 1:1 super friendly help to get started from just an idea</li>
          </ul>

		

   			<br>
          <h2>The Venture Catalyst Challenge</h2>
          <br>
          <p>Enjoy making things? Love technology? Passionate about being an innovator not a small part of a huge machine? VCC is for you.</p><br><p> In partnership with the UKs leading technology commercialisation and investment company and some of London's most exciting start-ups we'll help you how to turn ideas into sucessful products in <b>just 10 hours a week</b> over 6 weeks in February - March. At the end you will be ready to either get your own ideas off the ground or get that dream role in a cutting edge company.  <%= link_to('Find out more and apply here.', venturechallenge_path) %>

          </p>

          <h2>Our Partners</h2>

          <h3>On campus</h3>
          <p><a href="http://www3.imperial.ac.uk/">Imperial College London. </a> <a href="http://www.imperialinnovations.co.uk/">Imperial Innovations.</a> <a href="http://www.climate-kic.org/">Climate KIC</a>. ICT KIC. <a href="http://www.imperialhub.org/">Student Hubs.</a> <a href="http://imperialentrepreneurs.com/">Imperial Entrepreneurs.</a> <a href="https://www.facebook.com/ICDCollective">ICDC.</a> <a href="http://www.linkedin.com/groups/Right-Click-1824769">Right Click.</a> <a href="http://www3.imperial.ac.uk/entrepreneurship/">Imperial Business School Entrepreneurship Hub.</a> Imperial Hack spaces. 
          </p>

          <h3>Out in the big wide world</h3>
          <p><a href="http://www.entrepreneurfirst.org.uk/">Entrepreneur First.</a> <a href="http://www.techstars.com/program/locations/london/">TechStars.</a> <a href="https://www.miproto.com/">MiProto.</a><p>
            <p>Are you an entrepreneur, alumni, investor or other potential mentor? Contact <a href="mailto:hello@imperialcreatelab.com">hello@imperialcreatelab.com</a></p>

			

      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-2 col-md-offset-2">
      	<h2>Get involved</h2>
      	<p>--------------------------------------------</p>

      	<%= image_tag "social.png", title: "ICSaaS event", width:"300"%>
      	<br>
      	<h3>VCC deadline 27th January</h3>
        <p><%= link_to('Everything you need to know is here.', venturechallenge_path) %></p>
      </div>

      </div>

    </div>
  </div>
</section>