<section id="news" class="section darkblue">
  <div class="container">
    <h4>Current projects</h4>
    <div class="row">
      <div class="span10 alignleft">
        <p>Here's a small snapshot of some of the incredible projects and ventures that Imperial students and recent alumni are working on.</p>
      </div>
    </div>

    <div class="row">

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "box.png", class: "max-img"  %>
          </div>
          <div class="entry-content">
            <h6><strong><a href="http://www.flowmicrofluidics.com/">Flow microfludics</a></strong></h6>
            <p>Customised micro-fluidics enabling novel research.</p>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "milk.png", class: "max-img"  %>
          </div>
          <div class="entry-content">
            <h6><strong>MILK</strong></h6>
            <p>Designing a consumer level lactose filter a solution to lactose intolerance</p>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "caribu2.jpg", class: "max-img"  %>
          </div>
          <div class="entry-content">
            <h6><strong><a href="http://caribuapp.com/">Caribu</a></strong></h6>
            <p>An innovative approach to reading with children.</p>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "equinox.jpg", class: "max-img"  %>
          </div>
          <div class="entry-content">
            <h6><strong><a href="http://www.e.quinox.org/">Equinox</a></strong></h6>
            <p>Bringing cost effective, sustainable, renewable energy to developing countries.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="blankdivider30"></div>

    <div class="row">

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "coadjoint.png", class: "max-img"  %>
          </div>
          <div class="entry-content">
            <h6><strong><a href="http://www.coadjoint.co.uk">Coadjoint</a></strong></h6>
            <p>Game AI that adapts to the player</p>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "growup.png", class: "max-img"  %>
          </div>
          <div class="entry-content">
            <h6><strong><a href="http://www.growup.org.uk/">Grow up</a></strong></h6>
            <p>Sustainable urban farms using aquaponics</p>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "cytora.png", class: "max-img"  %>
          </div>
          <div class="entry-content">
            <h6><strong><a href="http://www.cytora.com/">Cytora</a></strong></h6>
            <p>Predictive insights on social preference shifts, political violence, riots and civil wars.</p>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "desktopgenetics.png", class: "max-img" %>
          </div>
          <div class="entry-content">
            <h6><strong><a href="http://www.deskgen.com/">Desktop Genetics</a></strong></h6>
            <p>Software solutions for the design, synthesis, assembly and management of DNA.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="blankdivider30"></div>
  </div>
</section>