<section id="team" class="section">
  <div class="container">
    <h4>The Create Lab team</h4>
    <div class="row">
      <div class="span10">
        <div>
          <p>We are a mix of students, alumni, Imperial Innovations and Imperial Hub staff. Here's the wonderful team that brings it all together, hosts the events and does everything they can to ensure your idea succeeds.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 flyIn">
        <div class="people">
          <%= image_tag "team/mark.png", class: "team-thumb img-circle" %>
          <a href="http://www.twitter.com/iammarkhammond"><h3>Mark Hammond</h3></a>
          <p>Director</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/rhi.png", class: "team-thumb img-circle" %>
          <h3>Rhiannon Horsley</h3>
          <p>Social Enterprise Director</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/ben.png", class: "team-thumb img-circle" %>
          <a href="http://www.twitter.com/bennmiles"><h3>Ben Miles</h3></a>
          <p>Student Coding Director</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/thom.png", class: "team-thumb img-circle" %>
          <a href="http://www.twitter.com/limxinsiang"><h3>Thomas Lim</h3></a>
          <p>Student Coding Director</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/millie.png", class: "team-thumb img-circle" %>
          <h3>Millie Johnson</h3>
          <p>Community Manager</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 flyIn">
        <div class="people">
          <%= image_tag "team/dom.png", class: "team-thumb img-circle" %>
          <h3>Dominic Falcao</h3>
          <p>Community Manager</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/rishi.png", class: "team-thumb img-circle" %>
          <a href="http://www.twitter.com/h_rishi"><h3>Hemang Rishi</h3></a>
          <p>Student Hardware Co-ordinator</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/vaysh.png", class: "team-thumb img-circle" %>
          <h3>Vayshnavee Kewada</h3>
          <p>Student Director of Operations</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/mo.png", class: "team-thumb img-circle" %>
          <h3>Mo Niknafs</h3>
          <p>Student Design Co-ordinator</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/caroline.png", class: "team-thumb img-circle" %>
          <a href="http://www.twitter.com/carosarahwood"><h3>Caroline Wood</h3></a>
          <p>Student Social and Climate Co-ordinator</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 flyIn">
        <div class="people">
          <%= image_tag "team/rob.png", class: "team-thumb img-circle" %>
          <a href="http://www.twitter.com/rob_bishop"><h3>Rob Bishop</h3></a>
          <p>Student Advisor</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/serge.png", class: "team-thumb img-circle" %>
          <h3>Serge Vasilechko</h3>
          <p>Student Advisor</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/adi.png", class: "team-thumb img-circle" %>
          <h3>Aditya Sakhuja</h3>
          <p>Student Coding Co-ordinator</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/kevin.png", class: "team-thumb img-circle" %>
          <h3>Kevin Troyano Cuturi</h3>
          <p>Alumni Liaison Officer</p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <%= image_tag "team/axel.png", class: "team-thumb img-circle" %>
          <h3>Axel Elmqvist</h3>
          <p>Student Director of Operations</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset5 flyIn">
        <div class="people">
          <%= image_tag "team/you.png", class: "team-thumb img-circle" %>
          <h3>?</h3>
          <p>Ask about how to join the team at the next event</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="aligncenter">
    <a href="#contact" class="btn btn-large btn-success">Join the community</a>
  </div>
</section>