<div class="">
  <%= render "header" %>
</div>
<div class="">
  <%= render "slider" %>
</div>
<div class="greenPanel">
  <%= render "how_it_works" %>
</div>
<div class="redPanel">
  <%= render "inspiration" %>
</div>
<div class="yellowPanel">
  <%= render "skill_up" %>
</div>
<div class="bluePanel">
  <%= render "startup" %>
</div>
<div class="yellowPanel">
  <%= render "join_in" %>
</div>
<div id="newsSection">
  <%= render "news" %>
</div>