<div class="container">
  <%= render "header" %>
</div>
<div class="">
  <%= render "carousel" %>
</div>
<div class="yellowPanel">
  <%= render "join_in" %>
</div>
<div class="blackPanel">
  <%= render "how_it_works" %>
</div>
<div class="">
  <%= render "everythinggrid" %>
</div> 