
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <br>
        <h1>The Venture Catalyst Challenge</h1>
        <p class="lead">£20,000 of cash prizes, expert led workshops, high profile mentors and the chance of a lifetime to test out your ideas.</p>
        <div class="fb-like" data-href="http://facebook.com/imperialcreatelab" data-width="450" data-show-faces="true" data-send="true"></div>
        <h3 style="color: red">Applications reopen December 2014.</h3>
        <p>Get involved at other <%= link_to("events", events_path)%>, see what teams are up to on the <%= link_to("blog", blog_path)%> or find out more about <%= link_to("all the teams", portfolios_path)%></p><p>If you are working on a fairly well developed idea or technology but missed the VCC deadline drop us a line at mark.hammond [at] imperialinnovations.co.uk and we'll see how we can help.</p>



        <h2>What you get</h2>  
        <p>
          A unique opportunity to learn how to get your ideas or technology into the real world, prove that you can be innovative and get a chance to try entrepreneurship without compromising your studies. </p>
          <br>
          <p>On top of helping you work out a business around your idea or technology we will introduce you to some of the most exciting tech companies in London as mentors and set you up with time with some of the best service companies around to help you cover legal, designers, marketing etc and if you want to raise money we will help you learn how to get investors excited, finally there's co-working space and physical prototpying space plus £20,000 in case prizes (no equity taken) to help you build a prototype. 
            <p>

              <h2>3 reasons why now is the time to give this a go</h2>  
              <br>
              <p>
                <ol>
                  <li>This is your last risk free chance to give it a go, life gets serious after graduation!</li>
                  <li>If you want a good job you need to demonstrate <a href="https://www.facebook.com/photo.php?fbid=712007935484618&set=a.502299449788802.119045.483178871700860&type=1&relevant_count=1">these skills</a></li>
                  <li>You get to work on something you love rather than filling in paper work and sitting in meetings all day!</li>

                </ol>
              </p>

              <h2>How much time?</h2>  


              <p>Monday evenings from the beginning of February until the 20th March. Everything is tailored around your studies but we will expect you to make progress between workshops, this is about building something in the real world not remembering things for an exam. We suggest you set aside 10 hours per week; 3 hrs in evening workshops and the rest on Wednesday afternoon (or another evening if you can't make the group session). </p>


              <h2>What we're looking for</h2>  

              <p>
               60 extremely smart and passionate Imperial Students (undergrad, PhD, Postdoc and alumni up to 2 years out) who either have outstanding technical skill or the business hustle to make things happen. You will need an idea or technology as a starting point but ideas come and go, passion and determination is the key. This is <u>not</u> about business plans and forecasts, it's about making amazing ventures that have an impact on the world. Teams can include non Imperial students but at least one person must be studying at Imperial.</p>    
               <br>
               <p> 
                 You can enter as individual or a team but you will need to form teams of 2 or more at the first masterclass. You will need either a cutting edge technology or an idea for a product or service, there's a <a href="http://www.sixmonthmba.com/2009/02/999ideas.html">huge list here</a> if you can't think of anything.</p>  




                 <h2>What happens after?</h2> 

                 <p> 
                  Everything finishes in time for you to revise for the next block of exams if you are an undergrad. What you do with your proven business model and new skill set is up to you. We would love you to start-up when the time is right and have huge amounts of support if thats what you want to do, but you're just as welcome to nail that Google interview with tales of getting thousands of users for the thing you built.
                </p>


                <h2>Imperial student teams raised over £1.25m last year</h2> 

                <p>Imperial student ventures from the past include <a href"http://www.bebo.com/">BeeBo</a>, <a href="http://www.onefinestay.com">OneFineStay</a> and <a href="http://musicmetric.com/">Music Metric</a> whilst staff have set up companies that do everything from performing visual analysis by <a href="http://www.cortexica.com/">imitating the visual cortex</a> to creating <a href="http://www.plaxica.com/">polymers from renewable sources.</a> Here are some of last years student teams;</p>

                <br>
                <br>

                <div class="row">

                 <div class="col-lg-3 col-md-3 col-sm-3">
                  <%= image_tag "milk.png", title: "ICSaaS event", width: "150", height: "150", class: "img-circle"%>
                  <h3>Milk</h3>
                  <p>Brita like lactose filter</p>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                 <%= image_tag "box.png", title: "ICSaaS event", width: "150", height: "150", class: "img-circle"%>
                 <h3>Flow Microfluidics</h3>
                 <p>Enabling novel research</p>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-3">
                 <%= image_tag "growup.png", title: "ICSaaS event", width: "150", height: "150", class: "img-circle"%>
                 <h3>Grow up (Kickstartr)</h3>
                 <p>Sustainable aquaponic farms</p>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-3">
                 <%= image_tag "coadjoint.png", title: "ICSaaS event", width: "150", height: "150", class: "img-circle"%>
                 <h3>CoAdJoint</h3>
                 <p>Adptive game AI</p>
               </div>



             </div>

             <br>
             <br>


             <h2>A few of the mentors</h2>

             <p>With over 100 experts already offering to get involved and support from EntrepreneurFirst and Techstars we're pretty sure we can find the right people to help you get your ideas off the ground. Here's a small sample of these wonderful people.</p>


             <br>
             <br>

             <div class="row">

               <div class="col-lg-3 col-md-3 col-sm-3">
                <%= image_tag "mentors/stephen.jpg", title: "Stephen rappaport", width: "150", height: "150", class: "img-circle"%>
                <h3>Stephen rappaport</h3>
                <p>CEO Crashpadder sold to AirBnB, now CEO YourGrind</p>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
               <%= image_tag "mentors/ian.jpg", title: "Iain McCready", width: "150", height: "150", class: "img-circle"%>
               <h3>Iain McCready</h3>
               <p>CEO, Cortexica (behind Tesco & Ebay visual search) </p>
             </div>

             <div class="col-lg-3 col-md-3 col-sm-3">
               <%= image_tag "mentors/matt.jpg", title: "Matt Clifford", width: "150", height: "150", class: "img-circle"%>
               <h3>Matt Clifford</h3>
               <p>Founder EntrepreneurFirst, ex McKinsey consultant</p>
             </div>

             <div class="col-lg-3 col-md-3 col-sm-3">
               <%= image_tag "mentors/milen.png", title: "Milen Dzhumerov", width: "150", height: "150", class: "img-circle"%>
               <h3>Milen Dzhumerov</h3>
               <p>Creator of Clear app, iOS and Mac software expert</p>
             </div>

           </div>

           <br>
           <br>


           <div class="row">

             <div class="col-lg-3 col-md-3 col-sm-3">
              <%= image_tag "mentors/rob.jpg", title: "Rob Fitzpatrick", width: "150", height: "150", class: "img-circle"%>
              <h3>Rob Fitzpatrick</h3>
              <p>Dex.io founder and Lean start-up expert</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
             <%= image_tag "mentors/kelsey.png", title: "Kelsey Lynn", width: "150", height: "150", class: "img-circle"%>
             <h3>Kelsey Lynn</h3>
             <p>Venture Partner at Imperial Innovations</p>
           </div>

           <div class="col-lg-3 col-md-3 col-sm-3">
             <%= image_tag "mentors/tom.jpg", title: "Tom Samodol", width: "150", height: "150", class: "img-circle"%>
             <h3>Tom Samodol</h3>
             <p>Ex-head of Tech Investment at Dresdner, funding expert</p>
           </div>

           <div class="col-lg-3 col-md-3 col-sm-3">
             <%= image_tag "mentors/imran.jpg", title: "Imran Shariff", width: "150", height: "150", class: "img-circle"%>
             <h3>Imran Shariff</h3>
             <p>Head of operations, Rocket Lawyers</p>
           </div>

         </div>

         <br>
         <br>

         <div class="row">

           <div class="col-lg-3 col-md-3 col-sm-3">
            <%= image_tag "mentors/devin.jpg", title: "Devin Hunt", width: "150", height: "150", class: "img-circle"%>
            <h3>Devin Hunt</h3>
            <p>Founder of Lyst, Retail, Brand and customer acquisition expert</p>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3">
           <%= image_tag "mentors/sami.jpg", title: "Sami Lababidi", width: "150", height: "150", class: "img-circle"%>
           <h3>Sami Lababidi</h3>
           <p>Founder of Playfish (sold to EA), EIR at Index Ventures </p>
         </div>

         <div class="col-lg-3 col-md-3 col-sm-3">
           <%= image_tag "mentors/phil.jpg", title: "Phil Goodier", width: "150", height: "150", class: "img-circle"%>
           <h3>Phil Goodier</h3>
           <p>CEO Plaxica (next generation of biopolymers)</p>
         </div>

         <div class="col-lg-3 col-md-3 col-sm-3">
           <%= image_tag "mentors/allenmanser.jpg", title: "Allen Manser", width: "150", height: "150", class: "img-circle"%>
           <h3>Allen Manser</h3>
           <p>Cleantech investor at Zouk Capital</p>
         </div>

       </div>

       <br>
       <br>


       <h2>Apply for VCC '14</h2>
       <br>

       <a href="http://www.f6s.com/vcc14" class="btn btn-warning btn-lg" role="button">Apply now</a>
       



       <h2>How can I increase my chances?</h2> 

       <p>
        1) Look out for real problems and technology applications<br>
        2) Read <a href="http://www.amazon.co.uk/The-Lean-Startup-Innovation-Successful/dp/0670921602">Lean Start-up</a><br>
        3) Read <a href="http://www.amazon.co.uk/Mom-Test-customers-business-everyone/dp/1492180742/ref=sr_1_1?s=books&ie=UTF8&qid=1389555890&sr=1-1&keywords=the+mom+test">The Mom Test</a><br>
        4) Attend the drop in session at 5pm on Thursdays in Skempton level 2 BOSS space.<br>
        5) Get people excited enough about your idea to join you.<br>
        6) Get your questions <%= link_to("answered on the forum", forum_path)%>
        <br>
      </p>


    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
     <br>
     <br>
     <br>


   </div>


 </div>


 
<!--
    <div class="row">
      <div class="col-lg-2 col-lg-offset-3">
        <%= image_tag('EF-Logo.png')  %>
      </div>
      <div class="col-lg-2">
        <img src="../../assets/seedcamp-logo.jpg" alt="seedcamp-logo" width="150" height="150" class="img-circle"  />
      </div>
      <div class="col-lg-2">
        <img src="../../assets/2013-05-26_techstars_ID_final_bug-with-typeset1.jpg" alt="2013-05-26_techstars_ID_final_bug-with-typeset1" width="150" height="150" class="img-circle" />
      </div>
    </div>
  -->
  <br>
  <br>
  <p>Want a reminder of the deadline? Sign up for updates.</p>

</div>

<%= render "public/join_in" %>
<br>
<br>
<br>

</section>