<!-- navbar -->
<nav class="navbar navbar-inverse bluePanel" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "createlabmonowhite.png", title: "Imperial Create Lab", width: "150"%>
      </a>
    </div>
    
    <!-- navbar collapse -->
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
      <ul class="nav navbar-nav" id="navbarButtons">
        <li class="text-center <%= 'active' if params[:controller] == 'public' and params[:action] == 'index' %>"><%= link_to("Home",root_path)%></li>
        <li class="text-center <%= 'active' if params[:controller] == 'events' %>"><%= link_to("Events",events_path)%></li>
        <li class="text-center <%= 'active' if params[:controller] == 'public' and params[:action] == 'venturechallenge'  %>"><%= link_to("Venture Challenge", venturechallenge_path)%></li>

<!--
      <li class="text-center"><%= link_to('Portfolio', portfolios_path) %></li>
      <li class="text-center"><%= link_to('Jobs', jobs_path) %></li>
      <li class="text-center"><a href="/users">Members</a></li>
    -->
    <li class="text-center <%= 'active' if params[:controller] == 'public' and params[:action] == 'portfolios'  %>"><%= link_to("Portfolio", portfolios_path)%></li>
    <li class="text-center <%= 'active' if params[:controller] == 'public' and params[:action] == 'forum'  %>"><%= link_to("Forum", forum_path)%></li>
    <li class="text-center <%= 'active' if params[:controller] == 'public' and params[:action] == 'blog'  %>"><%= link_to("Blog", blog_path)%></li>

<!--
      <li class="text-center"><a href="http://forum.imperialcreatelab.com">Forum</a></li>
      <li class="text-center"><a href="http://blog.imperialcreatelab.com">Blog</a></li>
    -->
  </ul>        
</div>   <!-- /navbar collapse -->
</div>
</nav> <!-- /navbar -->