<!-- navbar -->
<nav class="navbar navbar-default bluePanel" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <%= image_tag "LogoAdjacent.png", title: "Imperial Create Lab", width: "200"%>
    </a>
  </div>
  
  <!-- navbar collapse -->
  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
    <ul class="nav navbar-nav" id="navbarButtons">
      <li class="active text-center"><%= link_to("Home",root_path)%></li>
      <li class="text-center"><a href="http://forum.imperialcreatelab.com">Forum</a></li>
      <li class="text-center"><%= link_to("Events",events_path)%></li>
      <li class="text-center"><%= link_to 'Portfolio', portfolios_path %></li>
      <li class="text-center"><%= link_to 'Jobs', jobs_path %></li>
      <li class="text-center"><a href="/users">Members</a></li>
      <li class="text-center"><a href="#">Join in</a></li>
      <li class="text-center">
      <% if signed_in? %>
        <button class="btn btn-warning">
        <%= link_to(current_user.email, destroy_user_session_path)%>
        </button>
        <% if current_user.admin %>
          <li><a href="/admin">Admin</a></li>
        <% end %>
      <% else %>
        <button class="btn btn-success">
          <%= link_to("Sign-in",new_user_session_path)%>
        </button>
      <% end %>
      </li>
    </ul>        
  </div>   <!-- /navbar collapse -->
</nav> <!-- /navbar -->