<!DOCTYPE html>
<html>
<head>
  <title>Imperial Create Lab - student innovation and entrepreneurship at Imperial College London</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <%= image_tag "imperialcreatelab.png", title: "Imperial Create Lab" %>
    </a>
  </div>
  
  <!-- navbar collapse -->
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
    <ul class="nav navbar-nav" id="navbarButtons">
      <li class="active"><a href="/root">Home</a></li>
      <li><a href="http://forum.imperialcreatelab.com">Forum</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/users">Members</a></li>
      <li><a href="#">Join in</a></li>
      <li>
      <% if signed_in? %>
        <button class="btn btn-warning">
        <%= link_to(current_user.email, destroy_user_session_path)%>
        </button>
        <% if current_user.admin %>
          <li><a href="/admin">Admin</a></li>
        <% end %>
      <% else %>
        <button class="btn btn-success">
          <%= link_to("Sign-in",new_user_session_path)%>
        </button>
      <% end %>
      </li>
    </ul>        
  </div> 
  <!-- /navbar collapse -->

</nav>
<!-- /navbar -->
  <br>
	<%= render "layouts/flashmessages"%>
  <br>
  <%= yield %>

</body>
<% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44468456-1', 'imperialcreatelab.com');
    ga('send', 'pageview');
  </script>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=301578516611647";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</html>
